
#synth-title{
    text-align: right;
    font-size: 50px;
    background-color: rgb(127, 255, 244);
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 300px;
}

.title-wrapper{
    width: 100%;
    
}

.volume-wrapper{
    width: 100%;
    padding: 10px 20px 10px 20px;
    
}

#volume-slider{
    width: 100%;
    height: 25%;
}

.volume-label {
  text-align: left;
  background-color: rgb(127, 255, 244);
}

.grid-row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-color: rgb(227, 255, 127);
}

.grid-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(227, 255, 127);
    padding: 10px;
}

.grid-row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(227, 255, 127);
    padding: 10px;
}

.grid-item{
   
    text-align: center;
    
}

.grid-item-adsr {
 
  height: 50%;
  text-align: center;
}

input[type="range"][orient="vertical"] {
    writing-mode: bt-lr;
    appearance: slider-vertical;
  }


#waveform-canvas{
    height: 100%;
    width: 75%;
    background-color: rgb(34, 48, 47);
    border : 5px solid orange;
}

#freq-canvas{
  height: 100%;
  width: 75%;
  background-color: rgb(34, 48, 47);
  border : 5px solid orange;
}
